/*-------------------------Colours */

/* Templates */

.color-1 {
    color: #41281C;
}

.bg-color-1 {
    background-color: #41281C;
}

.color-2 {
    color: #FEBB6C;
}

.bg-color-2 {
    background-color: #FEBB6C;
}

.color-3 {
    color: #704326;
}

.bg-color-3 {
    background-color: #704326;
}

.color-4 {
    color: #C78048;
}

.bg-color-4 {
    background-color: #C78048;
}

.color-5 {
    color: #934B22;
}

.bg-color-5 {
    background-color: #934B22;
}

/* Overwrites */

a, .btn, .btn-large {
    color: #C78048!important;
}

.btn, .btn-large{
    background-color: #FEBB6C!important;
}

.btn:hover, .btn-large:hover {
    color: #FEBB6C!important;
    background-color: #C78048!important;
}

.nav-wrapper {
    background-color: #704326;
}

.sidenav {
    background-color: #704326;
}

/*-------------------------Base Template */

body {
    background-image: url('../images/background.jpg');
    /* CREDIT: Image: http://s1.picswalls.com/wallpapers/2014/01/29/dragon-picture_063725311_21.jpg */
    overflow: hidden;
}

#nav-title {
    font-size: 3em;
    margin-top: 6px;
    /* width: 65%; */
}

.fa-dragon {
    font-size: 3.5em;
    padding: 5px;
}

strong {
    font-weight: 800;
    letter-spacing: 1.5px;
}

.sidenav{
    text-align: center;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* .sidenav li{
    margin: 50px 0;
} */

/*-------------------------Login/Register */

.btn-large{
    font-weight: 700;
    letter-spacing: 2px;
}

.card-panel{
    margin-top: 15vh;
    background-color: #8c5736b3;
    border: #41281C;
    border-width: 10px;
}

#log-title, #reg-title{
    color: #41281C;
}

#login-panel{
    visibility: hidden;
}

#reg-panel{
    display: none;
}

#log-reg-btns{
    margin-top: 15vh;
}

.no-bottom{
    margin-bottom: 0;
}

/* Form Colors */

  /* label color */
   .input-field label {
     color: #FEBB6C!important;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #FEBB6C!important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #41281C!important;
     box-shadow: 0 1px 0 0 #41281C!important;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #FEBB6C!important;
     box-shadow: 0 1px 0 0 #FEBB6C!important;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #945227!important;
     box-shadow: 0 1px 0 0 #f50303e6!important;
   }
      /* label focus color */
   .input-field input[type=password]:focus + label {
     color: #FEBB6C!important;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #41281C!important;
     box-shadow: 0 1px 0 0 #41281C!important;
   }
   /* valid color */
   .input-field input[type=password].valid {
     border-bottom: 1px solid #FEBB6C!important;
     box-shadow: 0 1px 0 0 #FEBB6C!important;
   }
   /* invalid color */
   .input-field input[type=password].invalid {
     border-bottom: 1px solid #945227!important;
     box-shadow: 0 1px 0 0 #f50303e6!important;
   }
   /* icon prefix focus color */
   .input-field .prefix.active{
    color: #FEBB6C!important;
   }

/* -------------------------Media Queries */

@media screen and (max-width: 600px) {
    #nav-title {
        font-size: 2.5em;
        width: unset;
    }
}

@media screen and (max-width: 400px) {
    #nav-title {
        font-size: 1.9em;
        margin-top: 9px;
    }
}