@import url("https://fonts.googleapis.com/css2?family=Anton&family=Titillium+Web&display=swap");

/*-------------------------Colours */

/* Templates */

.color-1 {
    color: #41281C;
}

.bg-color-1 {
    background-color: #41281C;
}

.color-2 {
    color: #FEBB6C;
}

.bg-color-2 {
    background-color: #FEBB6C;
}

.color-3 {
    color: #704326;
}

.bg-color-3 {
    background-color: #704326;
}

.color-4 {
    color: #C78048;
}

.bg-color-4 {
    background-color: #C78048;
}

.color-5 {
    color: #934B22;
}

.bg-color-5 {
    background-color: #934B22;
}

/*-------------------------Materialize Overwrite */

.card-panel {
    margin-top: 20vh;
    background-color: #8c5736b3;
}

a {
    color: #FEBB6C !important;
    background-color: #704326;
}

.btn,
.btn-large {
    color: #C78048 !important;
    background-color: #FEBB6C !important;
}

.btn-small {
    color: #FEBB6C !important;
    background-color: #C78048 !important;
}

.btn:hover,
.btn-large:hover {
    color: #FEBB6C !important;
    background-color: #C78048 !important;
}

.btn-small:hover {
    color: #FEBB6C !important;
    background-color: #41281C !important;
}

.btn-large {
    font-weight: 700;
    letter-spacing: 2px;
}

.nav-wrapper {
    background-color: #704326;
}

.sidenav {
    background-color: #704326;
    text-align: center;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.collapsible {
    border-top: none;
    border-color: #41281C;
}

.collapsible-header {
    background-color: #FEBB6C;
    color: #41281C;
    border-color: #41281C;
}

.collapsible-body {
    border-color: #41281C;
    background-color: #C78048;
}

#dropdown1,
#dropdown2,
#dropdown3 {
    width: auto !important;
    height: auto !important;
    max-height: 30vh !important;
    overflow: auto;
}

#dropdown2 {
    width: 100% !important;
    left: 0 !important;
}

.dropdown-content {
    color: #934B22;
    background-color: #FEBB6C;
}

.dropdown-content:hover {
    color: #934B22;
    background-color: #FEBB6C;
}

.input,
.dropdown-content li>a,
.dropdown-content li>span {
    color: #934B22 !important;
    background-color: #FEBB6C;
}

.dropdown-content li>a:hover,
.dropdown-content li>span:hover {
    color: #FEBB6C !important;
    background-color: #934B22 !important;
}

/*-------------------------Base Template */

body {
    background: url('../images/background.jpg')no-repeat center center fixed;
    /* CREDIT: Image: http://s1.picswalls.com/wallpapers/2014/01/29/dragon-picture_063725311_21.jpg */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #704326;

    font-family: Titillium, sans-serif;
}

main {
    overflow: auto;
}

#nav-title {
    font-size: 3em;
    margin-top: 6px;
    /* width: 65%; */
}

.fa-dragon {
    font-size: 3.5em;
    padding: 5px;
}

strong {
    font-weight: 800;
    letter-spacing: 1.5px;
}



#flash-message {
    width: fit-content;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 10vh;
    border-radius: 25px;
    padding: 4px;
    opacity: 0;

    animation-name: flash;
    animation-duration: 7s;
    animation-iteration-count: 1;
}

@keyframes flash {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*-------------------------Login/Register */

#log-title,
#reg-title {
    color: antiquewhite;
}

#login-panel {
    visibility: hidden;
}

#reg-panel {
    display: none;
}

#log-reg-btns {
    margin-top: 15vh;
}

.no-bottom {
    margin-bottom: 0;
}

#log-username,
#reg-username,
#log-password,
#reg-password {
    color: antiquewhite;
}

/* Form Colors */

/* botton border color */
input[type=text]:not(.browser-default) {
    border-bottom: 1px solid #FEBB6C;
}

input[type=password]:not(.browser-default) {
    border-bottom: 1px solid #FEBB6C;
}

/* label color */
.input-field label {
    color: #FEBB6C !important;
}

/* label focus color */
.input-field input[type=text]:focus+label {
    color: #FEBB6C !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    color: #41281C;
    border-bottom: 1px solid #41281C !important;
    box-shadow: 0 1px 0 0 #41281C !important;
}

/* valid color */
.input-field input[type=text].valid {
    color: #41281C;
    border-bottom: 1px solid #FEBB6C !important;
    box-shadow: 0 1px 0 0 #FEBB6C !important;
}

/* invalid color */
.input-field input[type=text].invalid {
    color: #41281C;
    border-bottom: 1px solid #945227 !important;
    box-shadow: 0 1px 0 0 #f50303e6 !important;
}

/* label focus color */
.input-field input[type=password]:focus+label {
    color: #FEBB6C !important;
}

/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #41281C !important;
    box-shadow: 0 1px 0 0 #41281C !important;
}

/* valid color */
.input-field input[type=password].valid {
    border-bottom: 1px solid #FEBB6C !important;
    box-shadow: 0 1px 0 0 #FEBB6C !important;
}

/* invalid color */
.input-field input[type=password].invalid {
    border-bottom: 1px solid #945227 !important;
    box-shadow: 0 1px 0 0 #f50303e6 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #FEBB6C !important;
}

/* -------------------------Profile */

#profile-panel {
    padding: 5px;
    margin-top: 7vh;
}

#profile-name {
    color: antiquewhite;
    margin: 0;
}

#games-header,
#chars-header {
    margin-top: 0;
    color: antiquewhite;
}

#games-panel,
#char-panel {
    margin-top: 3vh;
    height: 50vh;
    overflow: auto;
    margin-bottom: 4vh;
}

.profile-add-btns {
    margin-top: 4vh;
}

/* Input Panels */

#game-add-panel,
#char-add-panel {
    position: absolute;
    display: none;
    width: 70%;
    margin-top: 25vh;

    color: #704326;
    background-color: #C78048;
}

#game-add-card-content,
#char-add-card-content {
    background-color: antiquewhite;
}


#enter-delete-row-game,
#enter-delete-row-char {
    margin: 20px 0 0;
}

#game-delete-btn,
#char-delete-btn #game-enter-btn,
#char-enter-btn {
    color: #C78048 !important;
    background-color: #FEBB6C !important;
}

#game-delete-btn:hover,
#char-delete-btn:hover,
#game-enter-btn:hover,
#char-enter-btn:hover {
    color: #41281C !important;
    background-color: antiquewhite !important;
}

/* -------------------------Game Page */

#session-title-num {
    font-size: xx-large;
    margin: 0;
    color: antiquewhite;
    margin-top: 2vh;
}

#session-btns {
    margin: 0;
}

#session-btn,
#add-session-btn,
#update-session {
    margin-top: 0vh;
    overflow: hidden;
}

#session-desc {
    margin-top: 0vh;
    padding: 0px 18px;
    margin-bottom: 0;
}

#session-desc-title {
    font-size: x-large;
    color: antiquewhite;
    margin: 1vh 0;
    padding-top: 1vh;
}

#session-desc-text {
    height: 27vh;
    max-height: 30vh;
    color: antiquewhite;
    overflow: auto;
}

textarea.materialize-textarea {
    background-color: transparent;
    border: 2px solid antiquewhite;
    border-radius: 0;
}

textarea.materialize-textarea:focus:not([readonly]) {
    border: 2px solid #C78048 !important;
    box-shadow: none;
}

#item-panel,
#item-overview {
    margin-top: 2vh;
    padding: 0px 18px;
    margin-bottom: 0;
    height: 35.4vh;
}

#item-list-title {
    font-size: x-large;
    color: antiquewhite;
    margin: 1vh 0;
    padding-top: 1vh;
}

#item-list-panel {
    padding: 0;
    margin-top: 0;
    overflow: auto;
    height: 23vh;
    background-color: #faebd794;
}

#enter-delete-row-item {
    margin: 0;
}

#item-list {
    max-height: 20vh;
    margin: 0;
}

#item-overview-title {
    font-size: x-large;
    color: antiquewhite;
    margin: 1vh 0;
    padding-top: 1vh;
}

#item-overview-text {
    height: 23vh;
    max-height: 30vh;
    color: antiquewhite;
    overflow: auto;
}

#item-update-btn {
    overflow: hidden;
}

#game-btns {
    margin-top: 0;
}

#item-add-panel {
    position: absolute;
    display: none;
    width: 70%;
    margin-top: 25vh;

    color: #704326;
    background-color: #C78048;
}

#item-add-card-content {
    background-color: antiquewhite;
}

/* -------------------------Character Page */

#character-name {
    font-size: xx-large;
    margin: auto;
    width: fit-content;
    padding: 10px;
    color: #C78048;
    margin-top: 2vh;
    background-color: #febc6b;
    border: 10px solid;
    border-radius: 15vh;
    border-color: #704326;
}

#char-box-1,
#char-box-2,
#char-box-3,
#char-box-4 {
    margin-top: 2vh;
    padding: 0px 18px;
    margin-bottom: 0;
}

#char-box-1-title,
#char-box-2-title,
#char-box-3-title,
#char-box-4-title {
    font-size: x-large;
    color: antiquewhite;
    margin: 0;
}

#char-box-1-text,
#char-box-2-text,
#char-box-3-text,
#char-box-4-text {
    height: 30vh;
    max-height: 30vh;
    color: antiquewhite;
    overflow: auto;
}

/* -------------------------Search */

#item-search-title,
#session-search-title,
#edit-item-title,
#edit-session-title {
    color: antiquewhite;
    background-color: #8c5736b3;
    width: fit-content;
    padding: 0 10vw;
    margin: 3vh auto;
}

#search-bar {
    margin-top: 3vh;
}

#search-btns {
    margin-top: 1.8rem;
}

#session-search-list,
#item-search-list {
    margin-top: 4vh;
}

#item-name,
#session-name {
    line-height: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#session-name-contents,
#item-name-contents {
    display: contents;
}

#session-name-contents strong,
#item-name-contents strong {
    padding: 0 15px;
}

#edit-item-panel {
    margin-top: 15vh;
}

#edit-session-panel{
    margin-top: 10vh;
}

#item_name_edit,
#session_name_edit,
#item_overview_edit,
#session_desc_edit,
#session_date_edit {
    color: antiquewhite;
    font-weight: 600;
    font-size: larger;
}

#item_overview_edit,
#session_desc_edit {
    height: 20vh;
    max-height: 20vh;
}

#game-name-edit-row,
#session-num-edit-row {
    display: none;
}

textarea #item-desc-edit {
    border: 2px solid #934B22;
}

#query {
    color: antiquewhite;
}

#no-results{
    font-size: xx-large;
    width: fit-content;
    padding: 10px;
    color: #C78048;
    margin-top: 2vh;
    background-color: #febc6b;
    border: 10px solid;
    border-radius: 15vh;
    border-color: #704326;
    margin: 3vh auto;
}

#delete-session-row{
    float: none;
}

#delete-session{
    overflow: hidden;
}

/* -------------------------Contact */

#modal-contact {
    background-color: antiquewhite;
    color: #945227 !important;
    text-align: center;
    margin-top: 3vh;
}

#email,
#number {
    font-size: x-large;
    color: #945227 !important;
    margin: 32px 0;
}

#email a {
    font-size: x-large;
    color: #945227 !important;
    background-color: transparent;
}

#email:hover {
    text-decoration: underline;
}

#social {
    text-align: center;
}

#social-links {
    list-style: none;
    display: flex;
    margin: auto;
    padding: 0;
}

.social-link {
    margin: auto;
}

/* Social Links styles & color change animation */

#social-links li a i {
    margin-top: 5px;
    margin-bottom: 0;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    color: #C78048;
    background: #704326;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#social-links li a i:hover {
    animation-name: social-links-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes social-links-zoom {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1.3) rotate(360deg);
    }
}

.no-bg {
    background-color: unset;
}

/* -------------------------FAQ */

#modal-faq {
    background-color: antiquewhite;
    color: #945227 !important;
    text-align: center;
    margin-top: 3vh;
}

.answer-text {
    color: antiquewhite
}

#faq-list{
    border-top: #41281C 1px solid;
}

/* -------------------------Errors */

#error-message {
    color: #febc6b;
    padding: 35px;
    border: 10px solid;
    border-radius: 15vh;
    border-color: #704326;
    background-color: #C78048;
}

#error-back-btn {
    margin-top: 40vh;
}

#dragon {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;

    animation-name: dragon;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes dragon {
    0% {
        transform: scale(1);
    }

    10% {
        transform: translateY(12em);
    }

    20% {
        transform: scale(0.75);
    }

    30% {
        transform: translateX(-9em);
    }

    40% {
        transform: translateY(16em);
    }

    50% {
        transform: translateY(-5em);
    }

    60% {
        transform: scale(1.25);
    }

    70% {
        transform: translateX(12em);
    }

    80% {
        transform: translateY(-17em);
    }

    90% {
        transform: translateX(10em);
    }

    100% {
        transform: scale(1);
    }
}

/* -------------------------Media Queries */

@media screen and (max-width: 1200px) {

    #log-title,
    #reg-title {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1100px) {

    #char-box-1-title,
    #char-box-2-title,
    #char-box-3-title,
    #char-box-4-title {
        font-size: large;
    }

    #error-message {
        font-size: xx-large;
    }
}

@media screen and (max-width: 992px) {

    #game-add-panel,
    #char-add-panel,
    #item-add-panel {
        width: 85%;
    }

    #char-add-panel {
        margin-top: 80vh;
    }

    #char-box-1-title,
    #char-box-2-title,
    #char-box-3-title,
    #char-box-4-title {
        font-size: x-large;
    }
}

@media screen and (max-width: 800px) {

    #log-title,
    #reg-title {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 706px) {
    .btn {
        padding: 0 6px;
    }
}

@media screen and (max-width: 700px) {
    #flash-message {
        font-size: x-large;
    }

    #email a {
        font-size: large;
    }
}

@media screen and (max-width: 600px) {
    #nav-title {
        font-size: 2.5em;
        width: unset;
    }

    #log-title,
    #reg-title {
        font-size: 2rem;
    }

    #game-add-panel,
    #char-add-panel,
    #item-add-panel {
        width: 90%;
    }

    #item-add-panel {
        margin-top: 47vh;
    }

    #error-message {
        font-size: x-large;
    }

    #dragon {
        width: -webkit-fill-available;
    }
}

@media screen and (max-width: 500px) {

    #item-search-title,
    #session-search-title,
    #edit-item-title,
    #edit-session-title {
        font-size: xx-large;
    }
}

@media screen and (max-width: 450px) {
    #flash-message {
        font-size: large;
    }

    #char-box-1-title,
    #char-box-2-title,
    #char-box-3-title,
    #char-box-4-title {
        font-size: large;
    }

    .btn-large {
        padding: 0px 12px;
    }
}

@media screen and (max-width: 400px) {
    #nav-title {
        font-size: 1.7em !important;
        margin-top: 9px;
    }

    #log-reg-btns {
        margin: 0;
    }

    #profile-name {
        font-size: xx-large;
    }
}

@media screen and (max-width: 350px) {

    #char-box-1-title,
    #char-box-2-title,
    #char-box-3-title,
    #char-box-4-title {
        font-size: medium;
    }

    .btn {
        padding: 0 10px;
    }

    .btn-large {
        letter-spacing: 0;
    }

    .row .col {
        padding: 0;
    }

    #nav-title {
        font-size: 1.2em !important;
        margin-top: 13px;
    }

    #modal-contact {
        text-align: left;
    }

    #youtube-logo {
        display: none;
    }
}


@media screen and (max-height: 1000px) {
    #session-desc-text {
        height: 25vh;
    }

    #item-overview,
    #item-panel {
        height: 36.4vh;
    }
}

@media screen and (max-height: 950px) {
    #log-reg-btns {
        margin-top: 10vh;
    }
}

@media screen and (max-height: 900px) {
    .card-panel {
        margin-top: 15vh;
    }

    #edit-item-panel,
    #edit-session-panel {
        margin-top: 10vh;
    }

    #item-overview,
    #item-panel {
        height: 36.4vh;
    }

    #item-overview-text,
    #item-list-panel {
        height: 20vh;
    }
}

@media screen and (max-height: 850px) {
    .card-panel {
        margin-top: 10vh;
    }
}

@media screen and (max-height: 800px) {
    #flash-message {
        top: 9vh;
    }

    #edit-item-panel,
    #edit-session-panel {
        margin-top: 7vh;
    }

    #session-desc-text {
        height: 20vh;
    }
}

@media screen and (max-height: 750px) {
    .card-panel {
        margin-top: 5vh;
    }

    #log-reg-btns {
        margin-top: 7vh;
    }

    #flash-message {
        top: 8vh;
    }

    #item-overview,
    #item-panel {
        height: 38.4vh;
    }
}

@media screen and (max-height: 700px) {

    #edit-item-panel,
    #edit-session-panel {
        margin-top: 4vh;
    }
}

@media screen and (max-height: 650px) {
    .card-panel {
        margin-top: 3vh;
    }

    #log-reg-btns {
        margin-top: 5vh;
    }

    #item-desc,
    #item-panel {
        height: 40.4vh;
    }

    .collapsible-body {
        padding: 1rem;
    }
}

@media screen and (max-height: 600px) {
    #log-reg-btns {
        margin-top: 0;
    }

    #item-overview,
    #item-panel {
        height: 41.4vh;
    }
}


@media screen and (max-height: 500px) {

    #item-overview,
    #item-panel {
        height: 46.4vh;
    }
}

@media screen and (max-height: 400px) {

    #item-overview,
    #item-panel {
        height: 52.4vh;
    }
}