{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m6">
            <div id="char-box-1" class="card-panel">
                <h3 id="char-box-1-title">Character Profile/Backstory</h3>
                <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea2"id="session-desc-title"></label>
            </div>
        </div>
        <div class="col s12 m6">
            <div id="char-box-2" class="card-panel">
                <h3 id="char-box-2-title">Player Notes</h3>
                <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea2"id="session-desc-title"></label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div id="char-box-3" class="card-panel">
                <h3 id="session-desc-title">Combat Style/Spell Preferences</h3>
                <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea2"id="session-desc-title"></label>
            </div>
        </div>
        <div class="col s12 m6">
            <div id="char-box-4" class="card-panel">
                <h3 id="char-box-4-title">Character Development</h3>
                <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea2"id="session-desc-title"></label>
            </div>
        </div>
    </div>

    <div id="game-btns" class="row">
        <div class="col s6">
            <a href="{{ url_for('profile', username=session['user']) }}" id="game-back-btn" class="btn-large">Back</a>
        </div>
        <div class="col s6">
            <a href="" id="char-update-btn" class="btn-large">Update</a>
        </div>
    </div>

{% endblock %}