{% extends "base.html" %}
{% block content %}

    <h3 id="edit-item-title" class="center-align">Edit Item</h3>

    <div id="edit-item-panel" class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('edit_item', item_id=item._id) }}">
            <!--Item Name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fab fa-d-and-d prefix "></i>
                    <input id="item_name_edit" name="item_name_edit" minlength="1" maxlength="50" 
                        value="{{ item.item_name }}" type="text" required>
                    <label for="item_name_edit">Item Name</label>
                </div>
            </div>
            <!--Item Description-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fab fa-d-and-d prefix"></i>
                    <textarea id="item_overview_edit" name="item_overview_edit" 
                        class="materialize-textarea" required>{{ item.item_desc }}</textarea>
                    <label for="item_overview_edit">Item Overview</label>
                </div>
            </div>
            <!--Item Game Name-->
            <div id="game-name-edit-row" class="row">
                <div class="input-field col s12">
                    <i class="fab fa-d-and-d prefix "></i>
                    <input id="game_name_edit" name="game_name_edit" minlength="1" maxlength="50" 
                        value="{{ item.game_name }}" type="text" required>
                    <label for="game_name_edit">Game Name</label>
                </div>
            </div>
            <!--Submit Button-->
            <div class="row">
                <div class="col s12 center-align">
                    <!--Cancel Button-->
                    <a href="{{ url_for('get_items') }}" class="btn-large">Cancel</a>
                    <button type="submit" class="btn-large">Update Item</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}