{% extends "base.html" %}
{% block content %}

    <h2 id="session-num">{{ current_name }} - Session Number : {{ session_num }}</h2>
    <div class="row">
        <div class="col s12">
            <div id="session-desc" class="card-panel">
                <h3 id="session-desc-title">Session Overview</h3>
                <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea2"id="session-desc-title"></label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s5 left">
            <div id="item-panel" class="card-panel">
                <h3 id="item-desc-title">Item List</h3>
                <div id="item-list-panel" class="card-panel">
                    {% for item in items %}
                        <ul id="item-list" class="collapsible">
                            {% if session.user|lower == item.created_by|lower %}
                                {% if item.game_name == current_name %}
                                    <li>
                                        <div class="collapsible-header">
                                            <i class="fab fa-d-and-d color-1 prefix"></i>{{ item.item_name }}
                                        </div>                              
                                        <div class="collapsible-body"></div>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    {% endfor %}
                </div>
                <div id="item-btns" class="col s6">
                    <button id="list-add-btn" class="btn-large">Add</button>
                </div>
                <div class="col s6">
                    <button id="list-delete-btn" class="btn-large">Delete</button>
                </div>
            </div>
        </div>
        <div class="col s7 right">
            <div id="item-desc" class="card-panel">
                <h3 id="item-desc-title">Item Overview</h3>
                <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea2"id="session-desc-title"></label>
            </div>
        </div>
    </div>

    <div id="game-btns" class="row">
        <div class="col s6">
            <button id="game-back-btn" class="btn-large">Back</button>
        </div>
        <div class="col s6">
            <button id="char-update-btn" class="btn-large">Update</button>
        </div>
    </div>

{% endblock %}