{% extends "base.html" %}
{% block content %}

    <div class="row no-bottom">
        <div id="item-add-panel" class="card-panel col s12 m6">
            <div class="card">
                <div id="item-add-card-content" class="card-content">
                    <span class="card-title">Add an Item</span>
                    <div class="row">
                        <form class="col s12" method="POST" action="{{ url_for('item_add', game_id=game_id) }}">
                            <div class="row">
                                <div class="input-field col s12">
                                <input autocomplete="off" placeholder="Please enter your item name" 
                                    id="item_name" name="item_name" type="text" class="validate" required>
                                <label for="item_name">Item Name</label>
                                </div>
                                <div class="input-field col s12">
                                <input autocomplete="off" placeholder="Please enter your game name" 
                                   value="{{ current_name }}" id="game_name" name="game_name"
                                   type="text" class="validate" disabled required>
                                <label for="game_name">Game Name</label>
                                </div>
                            </div>
                            <div>
                                <!-- <input value="{{ game_id }}" id="game_id_items_add" name="game_id_items_add" type="hidden"> -->
                                <button id="item-add-submit" type="submit" class="col s6 btn-large">
                                    Submit 
                                </button>
                                <a id="item-add-cancel" class="col s6 btn-large">
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 id="session-num">{{ current_name }} - Session Number : {{ session_num }}</h2>
    <div class="row">
        <div class="col s12">
            <div id="session-desc" class="card-panel">
                <h3 id="session-desc-title">Session Overview</h3>
                <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea2"id="session-desc-title"></label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s5 left">
            <div id="item-panel" class="card-panel">
                <h3 id="item-desc-title">Item List</h3>
                <div id="item-list-panel" class="card-panel">
                    {% for item in items %}
                        <ul id="item-list" class="collapsible">
                            {% if session.user|lower == item.created_by|lower %}
                                {% if item.game_name == current_name %}
                                    <li>
                                        <div class="collapsible-header">
                                            <i class="fab fa-d-and-d color-1 prefix"></i>{{ item.item_name }}
                                        </div>                              
                                        <div class="collapsible-body">
                                            <div id="enter-delete-row" class="row">
                                                <a disabled href="" id="enter-btn" class="btn">ENTER</a>
                                                <a href="{{ url_for('delete_item', item_id=item._id, game_id=game_id) }}"id="delete-btn" class="btn">DELETE</a>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    {% endfor %}
                </div>
                <div id="item-btns" class="col s6">
                    <button id="item-add-btn" class="btn-large">Add</button>
                </div>
                <div class="col s6">
                    <button disabled id="item-delete-btn" class="btn-large">Delete</button>
                </div>
            </div>
        </div>
        <div class="col s7 right">
            <div id="item-desc" class="card-panel">
                <h3 id="item-desc-title">Item Overview</h3>
                <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea2"id="session-desc-title"></label>
            </div>
        </div>
    </div>

    <div id="game-btns" class="row">
        <div class="col s6">
            <button id="game-back-btn" class="btn-large">Back</button>
        </div>
        <div class="col s6">
            <button id="char-update-btn" class="btn-large">Update</button>
        </div>
    </div>

{% endblock %}