{% extends "base.html" %}
{% block content %}

    <h2 id="session_num">{{ current_name }} - Session Number : {{ session_num }}</h2>
    <div class="row">
        <div class="col s12">
            <div id="session_desc" class="card-panel">
                <h3 id="session_desc-title">Session Overview</h3>
                <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea2"id="session_desc-title"></label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s5 left">
            <div id="item_desc" class="card-panel">
                <h3 id="item_desc-title">Item List</h3>
                <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea2"id="session_desc-title"></label>
            </div>
        </div>
        <div class="col s7 right">
            <div id="item_desc" class="card-panel">
                <h3 id="item_desc-title">Item Overview</h3>
                <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea2"id="session_desc-title"></label>
            </div>
        </div>
    </div>

    <div id="game-btns" class="row">
        <div class="col s6">
            <button id="game-back-btn" class="btn-large">Back</button>
        </div>
        <div class="col s6">
            <button id="char-update-btn" class="btn-large">Update</button>
        </div>
    </div>

{% endblock %}