{% extends "base.html" %}
{% block content %}

    <div class="row no-bottom">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div id="login-panel" class="card-panel">
                <h2 id="log-title">Welcome Back</h2>
                <!--Username-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fab fa-d-and-d color-1 prefix"></i>
                        <input autocomplete="off" id="log-username" name="log-username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="log-username">Username</label>
                    </div>
                </div>
                <!--Password-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fab fa-d-and-d color-1 prefix"></i>
                        <input autocomplete="off" id="log-password" name="log-password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="log-password">Password</label>
                    </div>
                </div>
                <!--Submit-->
                <div class="row">
                    <button id="log-submit" type="submit" class="col s6 btn-large">
                        Submit
                    </button>
                    <a id="log-cancel" class="col s6 btn-large">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>

    <div class="row no-bottom">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div id="reg-panel" class="card-panel">
                <h2 id="reg-title">Join us...</h2>
                <!--Username-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fab fa-d-and-d color-1 prefix"></i>
                        <input autocomplete="off" id="reg-username" name="reg-username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="reg-username">Username</label>
                    </div>
                </div>
                <!--Password-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fab fa-d-and-d color-1 prefix"></i>
                        <input autocomplete="off" id="reg-password" name="reg-password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="reg-password">Password</label>
                    </div>
                </div>
                <!--Submit-->
                <div class="row">
                    <button id="reg-submit" type="submit" class="col s6 btn-large">
                        Submit
                    </button>
                    <a id="reg-cancel" class="col s6 btn-large">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>

    <div id="log-reg-btns" class="row">
        <div class="col s6">
            <button id="login-btn" class="btn-large">Login</button>
        </div>
        <div class="col s6">
            <button id="reg-btn" class="btn-large">Register</button>
        </div>
    </div>

{% endblock %}