{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div id="profile-panel" class="card-panel">
                <h3 id="profile-name" class="center-align">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>

    <div id="profile-content">
        <div id="games" class="row s6">
            <div id="games-panel" class="card-panel">
                <h4>Games</h4>
                {% for game in games %}
                    <ul class="collapsible">
                        {% if session.user|lower == game.created_by|lower %}
                            <li>
                                <div class="collapsible-header">
                                    <i class="fab fa-d-and-d color-1 prefix"></i>{{ game.game_name }}
                                </div>                              
                                <div class="collapsible-body">
                                        <span>Session Number</span>
                                        <br>
                                        <span>Session Description</span>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                {% endfor %}
            </div>
        </div>
        <div id="characters" class="row s6">
            <div id="char-panel" class="card-panel">
                <h4>Characters</h4>
                {% for character in characters %}
                    <ul class="collapsible">
                        {% if session.user|lower == character.created_by|lower %}
                            {% if character.class == "Paladin" %}
                                <li>
                                    <div class="collapsible-header"><i class="fab fa-d-and-d color-1 prefix"></i>Paladin</div>
                                    <div class="collapsible-body">
                                        <ul class="collapsible">
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="fab fa-d-and-d color-1 prefix"></i>{{ character.character_name }}
                                                </div>
                                                <div class="collapsible-body">
                                                    <span>{{ character.profile_backstory }}</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                            {% if character.class == "Warlock" %}
                                <li>
                                    <div class="collapsible-header"><i class="fab fa-d-and-d color-1 prefix"></i>Warlock</div>
                                    <div class="collapsible-body">
                                        <ul class="collapsible">
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="fab fa-d-and-d color-1 prefix"></i>{{ character.character_name }}
                                                </div>
                                                <div class="collapsible-body">
                                                    <span>{{ character.profile_backstory }}</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="profile-add-btns" class="row">
        <div class="col s6">
            <button href="" id="game-add" class="btn-large">Add Game +</button>
        </div>
        <div class="col s6">
            <button href="" id="char-add" class="btn-large">Add Character +</button>
        </div>
    </div>

{% endblock %}