{% extends "base.html" %}
{% block content %}

    <div class="row no-bottom">
        <div id="game-add-panel" class="card-panel col s12 m6">
            <div class="card">
                <div id="game-add-card-content" class="card-content">
                    <span class="card-title">Add a Game</span>
                    <div class="row">
                        <form class="col s12" method="POST" action="{{ url_for('game_add') }}">
                            <div class="row">
                                <div class="input-field col s12">
                                <input autocomplete="off" placeholder="Please enter your game name" id="game_name" name="game_name" type="text" class="validate" required>
                                <label for="game_name">Game Name</label>
                                </div>
                            </div>
                            <div>
                                <button id="game-add-submit" type="submit" class="col s6 btn-large">
                                    Submit 
                                </button>
                                <a id="game-add-cancel" class="col s6 btn-large">
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-bottom">
        <div id="char-add-panel" class="card-panel col s12 m6">
            <div class="card">
                <div id="char-add-card-content" class="card-content">
                    <span class="card-title">Add a Character</span>
                    <div class="row">
                        <form class="col s12" method="POST" action="{{ url_for('char_add') }}">
                            <div class="row">
                                <div class="input-field col s12">
                                <input autocomplete="off" placeholder="Please enter your character name" id="character_name" name="character_name" type="text" class="validate" required>
                                <label for="character_name">Character Name</label>
                                </div>
                            </div>
                            <div class="input-field col s12">
                                <select id="class" name="class" type="text" class="validate" required>
                                    <option value="" disabled selected>Choose your Class</option>
                                    <option value="Artificer">Artificer</option>
                                    <option value="Barbarian">Barbarian</option>
                                    <option value="Bard">Bard</option>
                                    <option value="Cleric">Cleric</option>
                                    <option value="Druid">Druid</option>
                                    <option value="Fighter">Fighter</option>
                                    <option value="Monk">Monk</option>
                                    <option value="Paladin">Paladin</option>
                                    <option value="Ranger">Ranger</option>
                                    <option value="Rogue">Rogue</option>
                                    <option value="Sorcerer">Sorcerer</option>
                                    <option value="Warlock">Warlock</option>
                                    <option value="Wizard">Wizard</option>
                                </select>
                                <label>Materialize Select</label>
                            </div>
                            <div>
                                <button id="char-add-submit" type="submit" class="col s6 btn-large">
                                    Submit
                                </button>
                                <a id="char-add-cancel" class="col s6 btn-large">
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div id="profile-panel" class="card-panel">
                <h3 id="profile-name" class="center-align">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>

    <div id="profile-content">
        <div id="games" class="row s6">
            <div id="games-panel" class="card-panel">
                <h4 id="games-header">Games</h4>
                {% for game in games %}
                    <ul class="collapsible">
                        {% if session.user|lower == game.created_by|lower %}
                            <li>
                                <div class="collapsible-header">
                                    <i class="fab fa-d-and-d color-1 prefix"></i>{{ game.game_name }}
                                </div>                              
                                <div class="collapsible-body">
                                    <span>Session Number</span>
                                    <br>
                                    <span>Session Description</span>
                                    <div id="enter-delete-row" class="row">
                                        <a href="{{ url_for('edit_game', game_id=game._id) }}" id="enter-btn" class="btn">ENTER</a>
                                        <a href="{{ url_for('delete_game', game_id=game._id) }}" id="delete-btn" class="btn">DELETE</a>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                {% endfor %}
            </div>
        </div>
        <div id="characters" class="row s6">
            <div id="char-panel" class="card-panel">
                <h4 id="chars-header">Characters</h4>
                {% for character in characters %}
                    <ul class="collapsible">
                        {% if session.user|lower == character.created_by|lower %}
                            {% if character.class == "Artificer" %}
                                <li>
                                    <div class="collapsible-header"><i class="fab fa-d-and-d color-1 prefix"></i>Artificer</div>
                                    <div class="collapsible-body">
                                        <ul class="collapsible">
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="fab fa-d-and-d color-1 prefix"></i>{{ character.character_name }}
                                                </div>
                                                <div class="collapsible-body">
                                                    <span>{{ character.profile_backstory }}</span>
                                                    <div id="enter-delete-row" class="row">
                                                        <a href="" id="enter-btn" class="btn">ENTER</a>
                                                        <a href="{{ url_for('delete_character', character_id=character._id) }}" id="delete-btn" class="btn">DELETE</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                            {% if character.class == "Barbarian" %}
                                <li>
                                    <div class="collapsible-header"><i class="fab fa-d-and-d color-1 prefix"></i>Barbarian</div>
                                    <div class="collapsible-body">
                                        <ul class="collapsible">
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="fab fa-d-and-d color-1 prefix"></i>{{ character.character_name }}
                                                </div>
                                                <div class="collapsible-body">
                                                    <span>{{ character.profile_backstory }}</span>
                                                    <div id="enter-delete-row" class="row">
                                                        <a href="" id="enter-btn" class="btn">ENTER</a>
                                                        <a href="{{ url_for('delete_character', character_id=character._id) }}" id="delete-btn" class="btn">DELETE</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                            {% if character.class == "Bard" %}
                                <li>
                                    <div class="collapsible-header"><i class="fab fa-d-and-d color-1 prefix"></i>Bard</div>
                                    <div class="collapsible-body">
                                        <ul class="collapsible">
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="fab fa-d-and-d color-1 prefix"></i>{{ character.character_name }}
                                                </div>
                                                <div class="collapsible-body">
                                                    <span>{{ character.profile_backstory }}</span>
                                                    <div id="enter-delete-row" class="row">
                                                        <a href="" id="enter-btn" class="btn">ENTER</a>
                                                        <a href="{{ url_for('delete_character', character_id=character._id) }}" id="delete-btn" class="btn">DELETE</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                            {% if character.class == "Cleric" %}
                                <li>
                                    <div class="collapsible-header"><i class="fab fa-d-and-d color-1 prefix"></i>Cleric</div>
                                    <div class="collapsible-body">
                                        <ul class="collapsible">
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="fab fa-d-and-d color-1 prefix"></i>{{ character.character_name }}
                                                </div>
                                                <div class="collapsible-body">
                                                    <span>{{ character.profile_backstory }}</span>
                                                    <div id="enter-delete-row" class="row">
                                                        <a href="" id="enter-btn" class="btn">ENTER</a>
                                                        <a href="{{ url_for('delete_character', character_id=character._id) }}" id="delete-btn" class="btn">DELETE</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                            {% if character.class == "Druid" %}
                                <li>
                                    <div class="collapsible-header"><i class="fab fa-d-and-d color-1 prefix"></i>Druid</div>
                                    <div class="collapsible-body">
                                        <ul class="collapsible">
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="fab fa-d-and-d color-1 prefix"></i>{{ character.character_name }}
                                                </div>
                                                <div class="collapsible-body">
                                                    <span>{{ character.profile_backstory }}</span>
                                                    <div id="enter-delete-row" class="row">
                                                        <a href="" id="enter-btn" class="btn">ENTER</a>
                                                        <a href="{{ url_for('delete_character', character_id=character._id) }}" id="delete-btn" class="btn">DELETE</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                            {% if character.class == "Fighter" %}
                                <li>
                                    <div class="collapsible-header"><i class="fab fa-d-and-d color-1 prefix"></i>Fighter</div>
                                    <div class="collapsible-body">
                                        <ul class="collapsible">
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="fab fa-d-and-d color-1 prefix"></i>{{ character.character_name }}
                                                </div>
                                                <div class="collapsible-body">
                                                    <span>{{ character.profile_backstory }}</span>
                                                    <div id="enter-delete-row" class="row">
                                                        <a href="" id="enter-btn" class="btn">ENTER</a>
                                                        <a href="{{ url_for('delete_character', character_id=character._id) }}" id="delete-btn" class="btn">DELETE</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                            {% if character.class == "Monk" %}
                                <li>
                                    <div class="collapsible-header"><i class="fab fa-d-and-d color-1 prefix"></i>Monk</div>
                                    <div class="collapsible-body">
                                        <ul class="collapsible">
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="fab fa-d-and-d color-1 prefix"></i>{{ character.character_name }}
                                                </div>
                                                <div class="collapsible-body">
                                                    <span>{{ character.profile_backstory }}</span>
                                                    <div id="enter-delete-row" class="row">
                                                        <a href="" id="enter-btn" class="btn">ENTER</a>
                                                        <a href="{{ url_for('delete_character', character_id=character._id) }}" id="delete-btn" class="btn">DELETE</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                            {% if character.class == "Paladin" %}
                                <li>
                                    <div class="collapsible-header"><i class="fab fa-d-and-d color-1 prefix"></i>Paladin</div>
                                    <div class="collapsible-body">
                                        <ul class="collapsible">
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="fab fa-d-and-d color-1 prefix"></i>{{ character.character_name }}
                                                </div>
                                                <div class="collapsible-body">
                                                    <span>{{ character.profile_backstory }}</span>
                                                    <div id="enter-delete-row" class="row">
                                                        <a href="" id="enter-btn" class="btn">ENTER</a>
                                                        <a href="{{ url_for('delete_character', character_id=character._id) }}" id="delete-btn" class="btn">DELETE</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                            {% if character.class == "Ranger" %}
                                <li>
                                    <div class="collapsible-header"><i class="fab fa-d-and-d color-1 prefix"></i>Ranger</div>
                                    <div class="collapsible-body">
                                        <ul class="collapsible">
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="fab fa-d-and-d color-1 prefix"></i>{{ character.character_name }}
                                                </div>
                                                <div class="collapsible-body">
                                                    <span>{{ character.profile_backstory }}</span>
                                                    <div id="enter-delete-row" class="row">
                                                        <a href="" id="enter-btn" class="btn">ENTER</a>
                                                        <a href="{{ url_for('delete_character', character_id=character._id) }}" id="delete-btn" class="btn">DELETE</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                            {% if character.class == "Rogue" %}
                                <li>
                                    <div class="collapsible-header"><i class="fab fa-d-and-d color-1 prefix"></i>Rogue</div>
                                    <div class="collapsible-body">
                                        <ul class="collapsible">
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="fab fa-d-and-d color-1 prefix"></i>{{ character.character_name }}
                                                </div>
                                                <div class="collapsible-body">
                                                    <span>{{ character.profile_backstory }}</span>
                                                    <div id="enter-delete-row" class="row">
                                                        <a href="" id="enter-btn" class="btn">ENTER</a>
                                                        <a href="{{ url_for('delete_character', character_id=character._id) }}" id="delete-btn" class="btn">DELETE</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                            {% if character.class == "Sorcerer" %}
                                <li>
                                    <div class="collapsible-header"><i class="fab fa-d-and-d color-1 prefix"></i>Sorcerer</div>
                                    <div class="collapsible-body">
                                        <ul class="collapsible">
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="fab fa-d-and-d color-1 prefix"></i>{{ character.character_name }}
                                                </div>
                                                <div class="collapsible-body">
                                                    <span>{{ character.profile_backstory }}</span>
                                                    <div id="enter-delete-row" class="row">
                                                        <a href="" id="enter-btn" class="btn">ENTER</a>
                                                        <a href="{{ url_for('delete_character', character_id=character._id) }}" id="delete-btn" class="btn">DELETE</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                            {% if character.class == "Warlock" %}
                                <li>
                                    <div class="collapsible-header"><i class="fab fa-d-and-d color-1 prefix"></i>Warlock</div>
                                    <div class="collapsible-body">
                                        <ul class="collapsible">
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="fab fa-d-and-d color-1 prefix"></i>{{ character.character_name }}
                                                </div>
                                                <div class="collapsible-body">
                                                    <span>{{ character.profile_backstory }}</span>
                                                    <div id="enter-delete-row" class="row">
                                                        <a href="" id="enter-btn" class="btn">ENTER</a>
                                                        <a href="{{ url_for('delete_character', character_id=character._id) }}" id="delete-btn" class="btn">DELETE</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                            {% if character.class == "Wizard" %}
                                <li>
                                    <div class="collapsible-header"><i class="fab fa-d-and-d color-1 prefix"></i>Wizard</div>
                                    <div class="collapsible-body">
                                        <ul class="collapsible">
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="fab fa-d-and-d color-1 prefix"></i>{{ character.character_name }}
                                                </div>
                                                <div class="collapsible-body">
                                                    <span>{{ character.profile_backstory }}</span>
                                                    <div id="enter-delete-row" class="row">
                                                        <a href="" id="enter-btn" class="btn">ENTER</a>
                                                        <a href="{{ url_for('delete_character', character_id=character._id) }}" id="delete-btn" class="btn">DELETE</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="profile-add-btns" class="row">
        <div class="col s6">
            <button id="game-add-btn" class="btn-large">Add Game +</button>
        </div>
        <div class="col s6">
            <button id="char-add-btn" class="btn-large">Add Character +</button>
        </div>
    </div>

{% endblock %}