{% extends "base.html" %}
{% block content %}

    <h3 id="session-search-title" class="center-align">Sessions</h3>

    <div id="search-bar" class="card-panel">
        <form action="{{ url_for('search_sessions') }}" method="post">
            <div class="row center-align">
                <div class="input-field col s12 m7">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" minlength="1" required>
                    <label for="query">Search Sessions</label>
                </div>
                <div id="search-btns" class="col s12 m5">
                    <a href="{{ url_for('get_sessions') }}" class="btn">Reset</a>
                    <button type="submit" class="btn">
                        <i class="fas fa-search left"></i>Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% if sessions|length > 0 %}
        <!-- Show all the sessions this user has created -->
        <ul id="session-search-list" class="collapsible">
            {% for sess in sessions %}
                {% if session.user|lower == sess.created_by|lower %}
                    <li>
                        <div id="session-name" class="collapsible-header">
                            <div class="col s3">
                                <i class="fas fa-caret-down"></i>
                            </div>
                            <div id="session-name-contents" class="col s9">
                                <strong>{{ sess.session_num }} - {{ sess.session_name }} - {{ sess.session_date }} - {{ sess.game_name }}</strong> 
                                <a href="" class="btn-small right">Edit</a>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <strong>{{ sess.session_desc }}</strong>
                        </div>
                    </li>
                {% endif %}
            {% endfor%}
        </ul>

    {% else %}
        <h3 class="center-align">No Results Found</h3>
    {% endif %}

{% endblock %}